
body {
  overscroll-behavior: none;
  height: 100vh;
  background: rgb(18,18,18);
  background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(3,160,124,1) 49%, rgba(0,212,255,1) 100%);

  color: rgb(238, 238, 238);
  font-family: 'Ubuntu', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
  }
.oakLogo{
    width: 50%;
    margin-left: 30%;
    margin-top: 5%;
    display: block;
  
}
.centeredText{
    text-align: center;
}
.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;


}
.panel {  
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#secondCard{
  width: 70%;
  height: 50%;
  background-color: rgb(71, 71, 71);
}
#onlineMagazineImage{
  max-width: 100%;
}

